/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root{
    --primary-color: #009934;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    color: #121211;
    text-decoration: none;
}
@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}
img{
    max-width: 100%;
}

.gradient-style-1,.gradient-style-2:hover{
    background-image: -webkit-gradient(linear, left top, right top, from(#99ca46), to(#009a34));
    background-image: -o-linear-gradient(left, #99ca46, #009a34);
    background-image: linear-gradient(to right, #99ca46, #009a34);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.gradient-style-2,.gradient-style-1:hover{
    background-image: -webkit-gradient(linear, left top, right top, from(#f3a91a), to(#ff7d49));
    background-image: -o-linear-gradient(left, #f3a91a, #ff7d49);
    background-image: linear-gradient(to right, #f3a91a, #ff7d49);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;

}




.topbar{
    background-color: var( --primary-color);
    padding: 10px;
}
.topbar-slider-main{
    /* display: flex;
    justify-content: space-between; */
}
.topbar-slider-main .arrow-control{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.topbar .topbar-icon{
    margin-right:15px;
}
.topbar .topbar-icon,.topbar .topbar-content{
    display: inline-block;
}
.topbar .topbar-content p{
    margin-bottom:0;
    color:#fff;
}
 
.topbar .topbar-slider-inner{
    margin-bottom: 0;
}
.topbar .slider-repeat-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.topbar .prev-arrow{
    position: absolute;
    top: 0;
    right: 0;
}
.topbar .next-arrow{
    position: absolute;
    top: 0;
    right: 40px;
}
.topbar .prev-arrow,
.topbar .next-arrow{
    cursor: pointer;
    z-index: 9;
}
.topbar .slider-repeat-inner{
    max-width:500px;
}


/*===============================Header area CSS=-==================================*/
.header-area{
    padding: 40px 0;
}
.header-area .header-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.header-area .header-element.logo{
    width: 16%;
    padding-right: 15px;
}
.header-area .header-element.search-wrap{
    width: 42%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-area .header-element.search-wrap .form-select{
    border: none;
    background: #009934;
    padding: 10px 25px 10px 20px;
    color: #fff;
    border-radius: 16px 0 0 16px;
}
.header-area .header-element.right-block-box{
    width: 42%;
     padding-left: 15px;
  /*  padding-right: 15px; */
}

.header-area .header-search{
    border: none;
    background-color: #f7f7f8;
    border-radius: 0 10px 10px 0;
}

.header-area .header-element.search-wrap button[type="submit"]{
    background-color: transparent;
    position: absolute;
    right: 13px;
    height: auto;
    padding: 0;
    top: 7px;
}
.header-area .header-search{
     padding-right: 40px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.header-element.right-block-box .box-body a{
    text-decoration: none;
}

.header-element.right-block-box .box-body h6{
    text-decoration: none;
    color: #121211;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 13px;
}
.header-element.right-block-box .box-body a:hover h6{
    color: #ff8047;
}
.header-element.right-block-box .box-body span{
    text-decoration: none;
    color: #6e6e6e;
    font-size: 13px;
}
.header-element .box-icon{
    width: 55px;
    height: 55px;
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50px;
}
.header-element .my-account .box-icon{
    background: #d9f0e1;
}
.my-wishlist{

}
.header-element .my-wishlist .box-icon{
    background: #fbefcf;
}
.header-element .my-cart .box-icon{
    background: #ffece5;
}
.header-element .box-body{
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
}
.header-element .cart-counter{
    position: absolute;
    top: -5px;
    right: 5px;
    background: #ff814e;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 21px;
    color: #fff !important;
    border-radius: 50px;
}

/*============================ Hero area ===============================*/
.hero-area{
    position: relative;
}
.hero-area .hero-thumb img{
    max-width: 100%;
    width: 100%;
}
.hero-area .hero-contents{
    position: absolute;
    top: 60px;
    left: 15%;
}
.hero-area .hero-subheading{
    font-size: 25px;
    font-weight: 600;
    color:var(--primary-color);
}
.hero-area .hero-main-heading{
    font-size: 45px;
    font-weight: 700;
    color: #121211;
    margin: 15px 0 25px;
}
.hero-area .hero-texts{
    font-size: 22px;
    color: #545454;
    max-width: 535px;
    margin-bottom: 25px;
}
.hero-area .hero-btn-group a{
    font-size: 19px;
    color: #fff;
    padding: 14px 50px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
}
.hero-area .hero-area-outer{
    width: 100%;
    padding: 0;
}
.hero-area .promo-btn{
    margin-right:15px;
}


/*====================  Shop by category CSS===================*/
.shop-by-cat{
    padding: 70px 0;
}
.shop-by-cat .by-cat-heading{
  font-size: 27px;
    font-weight: 600;   
}
.shop-by-cat .by-cat-heading span{
  color: #f2703b;
}


/* Category image css */
.category-img1{
    background-color: #f7f7f7;
}
.shop-by-cat .h-cate{
    text-align: center;
    display: inline-block;
    
    position: relative;
}
.shop-by-cat .h-cate .c-img a{
    position: relative;
     border-radius: 100%;
}
 
.shop-by-cat .h-cate .c-img a img{
    /* border-radius: 100%; */
    margin: 0 auto;
}/*
.shop-by-cat .h-cate .c-img  img{
    width: 120px;
}*/
.shop-by-cat .h-cate  .c-img{
    position: absolute;
    bottom: 43px;
}

.shop-by-cat .cat-bg{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
}
.shop-by-cat .h-cate span.cat-num{
    font-size: 18px;
    margin-top:20px;
    display: inline-block;
}
.shop-by-cat .show-all-btn{
    float: right;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

   /* the slides */
   .shop-by-cat  .slick-slide {
    margin: 0 35px;
  }
  /* the parent */
  .shop-by-cat  .slick-list {
    margin: 0 -35px;
  }
  .shop-by-cat .slick-arrow{
    position: absolute;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 0 0 7px 0px #ddd;
            box-shadow: 0 0 7px 0px #ddd;
    text-align: center;
    line-height: 40px;
    border-radius: 54px;
    background: #fff;
    cursor:pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .shop-by-cat .slick-arrow:hover{
      background-color:#ff7f47;
      color: #fff;
  }
  .shop-by-cat-slider-outer{
    max-width: 90%;
    margin: 25px auto 0;
    position: relative;
  }

  .shop-by-cat-slider-outer .arrow-left{
    left: -5%;
  }
  .shop-by-cat-slider-outer .arrow-right{
    right: -5%;
  }

  


  .tab-section-inner .flash-sale{
     font-size: 23px;
    margin: 0;
  }
  .tab-section-inner .nav-tabs .nav-link,.tab-section-inner  .nav-tabs{
      border: none;
  }
  .tab-section-inner .nav-tabs .nav-link{
    font-size: 15px;
    color: #121211;
    padding: 0 10px;
  }
  .tab-section-inner .nav-tabs .nav-item:last-child a{
      padding-right: 0;
  }
  .tab-section-inner .nav-tabs .nav-link.active{
    font-weight: 600;
    color: var(--primary-color);
  }
  .row_flash_sale{
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    padding-bottom: 13px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-bottom: 35px;
}
 .deal-top-header{
    border-bottom: 1px solid #dbdbdb;
    position: relative;
      padding-bottom: 13px;
 }


 .deal-slider .slick-arrow{
    position: absolute;
    top: -79px;
    right: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
 }
 .deal-slider .slick-arrow:hover{
     background-color: #fe8144;
     color: #fff;
     border-color: #fe8144;
 }
 .deal-slider .arrow-left{
    right: 40px;

 }
 .deal-slider .arrow-right{
     
}
 .row_flash_sale:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 4px;
    width: 125px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3a91a), to(#ff7d49));
    background-image: -o-linear-gradient(bottom, #f3a91a, #ff7d49);
    background-image: linear-gradient(to top, #f3a91a, #ff7d49);
  }
.products-col-outer{
    width: calc(100% - 40px);
    margin-left: auto;
}
.products-col-inner {
    width:calc(24.5% - 10px);
    padding: 35px 25px;
    margin-left: 15px;
    border-radius: 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    display: inline-block;
}
.main-tab-section .products-col-inner:nth-child(4n+1) {
    margin-left: 0;
}
.products-col-inner:hover{
    -webkit-box-shadow: 0px 0 15px #ddd;
            box-shadow: 0px 0 15px #ddd;

}

.products-col-inner .sale-badge,.quick-view-content-outer .sale-badge{
    padding: 3px 15px;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    line-height: inherit;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 13px;
    font-weight: 600;
}
.products-col-inner .product-thumb{
    text-align: center;
}
.products-col-inner .product-thumb img{

}
.products-col-inner .product-bottom-info{

}
.products-col-inner .product-bottom-info li{
    text-align: center;
}
.products-col-inner .product-bottom-info li a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}
.products-col-inner .product-bottom-info li a:hover{
    
}
.products-col-inner .category-list{
    margin-bottom: 7px;
}
.products-col-inner .product-title{
    font-size: 16px;
    text-align: center;
}
.products-col-inner .product-title a{
    text-decoration: none;
}
.products-col-inner .product-title a:hover{
    color: #fe8046;
}
.products-col-outer .product-price{
    margin-bottom: 15px;
}
.products-col-inner .product-price span{
    
}
.products-col-inner .product-price .regular-price{
    font-weight: 500;
}

.products-col-inner .product-price .discount-price{
    margin-left: 10px;
    color: #979797;
    text-decoration: line-through;
    font-weight: 300;
}
.products-col-outer .products-col-inner{
   padding-bottom: 70px;
}

.products-col-inner .product-action-buttons{
    opacity: 0;
    display: none;
    visibility: hidden;
    position: absolute;
}
.products-col-inner:hover .product-action-buttons{
    opacity:1;
    display: block;
    visibility: visible;
}
.products-col-inner .product-action-buttons li{
    display: inline-block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin: 0 5px;
}
.products-col-inner .product-action-buttons li.action-wishlist{
    -webkit-transform: translateX(45px);
        -ms-transform: translateX(45px);
            transform: translateX(45px);
}
.products-col-inner .product-action-buttons li.action-search{
    -webkit-transform: translateX(-45px);
        -ms-transform: translateX(-45px);
            transform: translateX(-45px);
}
.products-col-inner:hover .product-action-buttons  li{
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
}
.products-col-inner .product-action-buttons li a{
    background: #f7f7f8;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
}


.products-col-inner .product-action-buttons li a:hover{
    background: var(--primary-color);
}
.products-col-inner .product-action-buttons li a:hover svg{
    fill: #fff;
}
.products-col-inner .product-action-buttons li svg{
    width: 20px;
}






/* timer */
 .deal-content ul.contdown_row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 23px;
    padding-left: 0;
}
 .deal-content ul.contdown_row li.countdown_section{
    background-color: #edf0f4;
    position: relative;
    width: 70px;
    height: 85px;
    margin-right: 10px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

  .deal-content ul.contdown_row li.countdown_section span.countdown_timer{
    color: #212529;
    font-size: 19px;
    font-weight: 600;
}
 .deal-content ul.contdown_row li.countdown_section span.countdown_title{
    color: #212529;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
}
 
.deal-content .products-col-inner{
    width: 100%;
    margin: 0;
    border: 1px solid var(--primary-color);
    padding: 35px 15px;
}

.deal-content .products-col-inner .product-action-buttons{
    opacity: 1;
    margin-top: 25px;
    display: block;
    position: relative;
    visibility: visible;
}
.deal-content .products-col-inner .product-title {
    font-size: 22px;
 }
.deal-content .products-col-inner .product-action-buttons li{
    -webkit-transform:unset;
        -ms-transform:unset;
            transform:unset;
}
.deal-top-header{
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 35px;
    position: relative;
    
}
.deal-top-header h2{
    font-size: 23px
}
.deal-top-header:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 4px;
    width: 125px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f3a91a), to(#ff7d49));
    background-image: -o-linear-gradient(bottom, #f3a91a, #ff7d49);
    background-image: linear-gradient(to top, #f3a91a, #ff7d49);
}
 
.deal-content .products-col-inner .product-bottom-info {
    margin-top: 30px;
    display: inline-block;
}


.deal-content  .products-col-inner .product-price span {
    font-size: 24px;
}
.deal-content .products-col-inner .product-bottom-info li a{
   
    font-size: 14px;
}
    /* the slides */
    .deal-content   .slick-slide {
        margin: 0 2px;
      }
      /* the parent */
      .deal-content     .slick-list {
        margin: 0 -2px;
      }





.homepage-blocks{
    padding-top: 20px;
}
  
  .homepage-blocks .blocks-single{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f7f7f8;
    padding: 35px;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homepage-blocks .blocks-single.free-delivery{
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .homepage-blocks .block-image{
    width: 17%;
    margin-right: 17px;
  }
 
  .homepage-blocks .block-contents h3{
    font-size: 21px;
     margin-bottom: 0;
  }
  .homepage-blocks .subtitle{
    font-size: 15px;
}

/*==================================== Start Shop Page CSS =========================================*/

/*===== Sidebar CSS=======*/
.all-filter .categories-page-filter h4{
    font-size: 16px;
    padding-bottom: 5px;
}
.all-filter .categories-page-filter a.filter-link{
    display: none;
}
.all-filter .categories-page-filter ul.all-option{
    height: 271px;
    padding-top: 30px;
    overflow: auto;
    padding-right: 7px;
    border-top: 1px solid #eee;
}
.all-filter .categories-page-filter ul.all-option.collapse:not(.show){
    display: block;
}
.all-filter .categories-page-filter ul.all-option li.grid-list-option{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.all-filter .categories-page-filter ul.all-option li.grid-list-option:first-child{
    margin-top: 0px;
}
.all-filter .categories-page-filter ul.all-option li.grid-list-option input{
    width: 19px;
    height: 16px;
}
.all-filter .categories-page-filter ul.all-option li.grid-list-option a{
    width: 100%;
    margin-left: 8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    line-height: 1;
}
.all-filter .price-filter h4{
    font-size: 16px;
    padding-top: 28px;
    padding-bottom: 5px;
    line-height: 1;
    
}
.all-filter .price-filter a.filter-link{
    display: none;
}
.all-filter .price-filter ul.all-price{
    padding-top: 30px;
    border-top: 1px solid #eee;
}
.all-filter .price-filter ul.all-price.collapse:not(.show){
    display: block;
}
.all-filter .price-filter ul.all-price li.f-price{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.all-filter .price-filter ul.all-price li.f-price:first-child{
    margin-top: 0px;
}
.all-filter .price-filter ul.all-price li.f-price input{
    width: 18px;
    height: 16px;
    cursor: pointer;
}
.all-filter .price-filter ul.all-price li.f-price label{
    margin-bottom: 0px;
    margin-left: 9px;
    font-size: 13px;
    cursor: pointer;
    line-height: 1;
}
.all-filter .pro-size h4{
    font-size: 16px;
    padding-top: 28px;
    padding-bottom: 5px;
    line-height: 1;
    
}
.all-filter .pro-size a.filter-link{
    display: none;
}
.all-filter .pro-size ul.all-size.collapse:not(.show){
    display: block;
}
.all-filter .pro-size ul.all-size{
    padding-top: 30px;
    border-top: 1px solid #eee;
}
.all-filter .pro-size ul.all-size li.choice-size{
    margin-top: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.all-filter .pro-size ul.all-size li.choice-size:first-child{
    margin-top: 0px;
}
.all-filter .pro-size ul.all-size li.choice-size input{
    width: 18px;
    height: 16px;
    cursor: pointer;
}
.all-filter .pro-size ul.all-size li.choice-size label{
    font-size: 13px;
    margin-left: 8px;
    margin-bottom: 0px;
    cursor: pointer;
    line-height: 1;
}
.all-filter .filter-tag h4{
    font-size: 16px;
    padding-top: 27px;
    padding-bottom:5px;
    line-height: 1;
    
}
.all-filter .filter-tag a.filter-link{
    display: none;
}
.all-filter .filter-tag ul.all-tag.collapse:not(.show){
    display: block;
}
.all-filter .filter-tag ul.all-tag {
    padding-top: 25px;
}
.all-filter .filter-tag ul.all-tag li.tag{
    display: inline-block;
}
.all-filter .filter-tag ul.all-tag li.tag a{
    padding: 5px 10px;
    color: #808080;
    font-size: 13px;
    border: 1px solid #eee;
    border-radius: 50px;
    
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}
.all-filter .filter-tag ul.all-tag li.tag a:hover{
    background-color: #000;
    color: #fff;
}
.all-filter .vendor-filter h4{
    font-size: 16px;
    padding-top: 28px;
    padding-bottom: 27px;
    line-height: 1;
    border-bottom: 1px solid #eee;
    
}
.all-filter .vendor-filter a.filter-link{
    display: none;
}
.all-filter .vendor-filter ul.all-vendor{
    padding-top: 30px;
}
.all-filter .vendor-filter ul.all-vendor.collapse:not(.show){
    display: block;
}
.all-filter .vendor-filter ul.all-vendor li.f-vendor{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.all-filter .vendor-filter ul.all-vendor li.f-vendor:first-child{
    margin-top: 0px;
}
.all-filter .vendor-filter ul.all-vendor li.f-vendor input{
    width: 18px;
    height: 16px;
}
.all-filter .vendor-filter ul.all-vendor li.f-vendor label{
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 13px;
    cursor: pointer;
    line-height: 1;
}
.all-filter .filter-banner a.grid-banner{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    display: block;
}
.all-filter .filter-banner a.grid-banner img{
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.all-filter .filter-banner a.grid-banner:hover img{
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
/* grid-list banner-button css */
.grid-list-banner{
    height: 262px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.grid-list-banner .grid-banner-content{
    width: 50%;
    margin-left: 30px;
}
.grid-list-banner .grid-banner-content h4{
    font-size: 20px;
}
.grid-list-banner .grid-banner-content p{
    font-size: 13px;
    margin-top: 14px;
    color: #333;
}
.all-filter .categories-page-filter ul.all-option{
     overflow-y: auto;
    scrollbar-width: thin;
    -webkit-scrollbar-width: thin;
}
.all-filter .categories-page-filter ul.all-option::-webkit-scrollbar{
    width: 4px;
}
.all-filter .categories-page-filter ul.all-option::-webkit-scrollbar-track{
    background-color: #eee;
}
.all-filter .categories-page-filter ul.all-option::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
}
.all-filter .categories-page-filter ul.all-option::-webkit-scrollbar-thumb:hover{
    background-color: #f5ab1e;
}
.all-filter ul{
    padding-left: 0;
}
/* grid Products css */
.grid-list-area{
    background: #f7f7f8;
    padding: 25px;
    border-radius: 15px;
}
.grid-list-area .grid-list-select{
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid-list-area .products-col-outer{
    width: 100%;
    margin-left: 0;
}
.grid-list-area .grid-list-select ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.grid-list-area .grid-list-select ul.grid-list li a{
    font-size: 17px;
    margin-right: 10px;
}
.grid-list-area .grid-list-select ul.grid-list li a.active,
.grid-list-area .grid-list-select ul.grid-list li a.active,
.grid-4-product .grid-list-select ul.grid-list li a.active,
.grid-2-product .grid-list-select ul.grid-list li a.active {
    color: #f5ab1e;
}
.grid-list-area .grid-list-select ul.grid-list-selector li label{
    font-weight: 600;
    margin-right: 10px;
}
.grid-list-area .grid-list-select ul.grid-list-selector select{
    min-width: 200px;
    padding: 6px 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}




/*============== Main Content ===============*/
.products-wrapper.product-col-4 .products-col-inner {
    width: calc(33.3% - 13px);
        background: #fff;
        margin-bottom: 25px;
}

.products-wrapper.product-col-4 .products-col-inner:nth-child(3n+1){
    margin-left:0;
}

/*=================================== Product Quick View CSS ===============================*/
.quick-view-content-outer .product-content-area{
         padding: 80px 40px;
        background: #f7f7f7;
        position: relative;
    }
.quick-view-content-outer .close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50px;
    z-index: 9;
}
.quick-view-content-outer .close:hover{
    background:var(--primary-color);
    color: #fff;
}
.quick-view-content-outer .product-thumb-area{
    height: 100%;
}
.quick-view-content-outer .product-thumb-area img{
    width: 100%;
 }
 .quick-view-content-outer .product-categories {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2px;
 }
 .quick-view-content-outer .product-categories li{

}
.quick-view-content-outer .product-categories li a{
    color: var(--primary-color);
    font-weight: 500;
}
.quick-view-content-outer .product-categories li a:hover{

}
.quick-view-content-outer .popup-action-inner{
    position: absolute;
    width: calc(100% - 12px );
    bottom: 0;
    left: 12px;
}
.quick-view-content-outer .popup-action-buttons {
    position: relative;
}
.quick-view-content-outer .popup-action-buttons .btn{
    width: 100%;
    padding: 15px 0;
    border-radius: 0;
    border: none !important;
}
.quick-view-content-outer .product-price{
    margin-bottom: 15px;
}
.products-col-inner .product-price span{
    
}
.quick-view-content-outer .product-price .regular-price{
    font-weight: 500;
}

.quick-view-content-outer .product-price .discount-price{
    margin-left: 10px;
    color: #979797;
    text-decoration: line-through;
    font-weight: 300;
}
/*=======================================End Shop page CSS ===========================================*/
.footer .footer-logo-area img{
    width: 85%;
}
.footer .container{
    padding-top: 70px;
    position: relative;
    border-top: 1px solid #e7e7eb;
    margin-top: 70px;
}
.footer:after{

}
.footer .widgettitle{
    position:relative;
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 12px;
}
.footer   a:hover{
    color: #fe7e47;
}
.footer .widgettitle:after{
    content:"";
    background-image: url(../images/widgettitle-sep.png);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 66px;
    height: 3px;
}
.footer .menu-style li:not(:last-child){
    margin-bottom: 5px;
}
.footer  .contact-list li:first-child{
    margin-bottom: 25px;
}
.footer .apps-download-images  img{
    width: 215px;
    float: right;
}
.footer .apps-download-images .icon-google-play{
    margin-bottom: 20px;
}

.copywrite-section{
     background-image: url(../images/footer-bg.png);
     background-repeat: no-repeat;
     padding-top: 160px;
     padding-bottom: 30px;
     background-size: cover;
}
.footer-social-area li{
display: inline-block;
}

.footer-social-area li a{
    font-size: 20px;
    height: 35px;
    width: 35px;
    background: white;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: var(--primary-color);
}

.copywrite-section .copywrite{
    display: block;
    text-align: right;
    color: #fff;
    margin-top: 22px;
}


